<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/crece.css">
    <link rel="stylesheet" href="styles/display.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
    <title>Afilado</title>
</head>

<body style=" justify-content: center; align-items:center; background: var(--grisClaro);">
    <div class="nav-herader2">
        <div class="content-img">
            <img class="svg1" src="/img/logoP.png" alt="Descripción del SVG">
        </div>

        <div class="close"><a class="text-header" style="color: var(--vinotinto);" href="/">Regresar</a>
        </div>
    </div>


    <h3> <b style="color: var(--vinotinto); font-size: 40px;" class=" text-decoration2">Afilados</b></h3>
    <div class="content2">
    <div class="card-container2">
    <div class="card">
        <img src="/img/queso.jpg" class="svg" alt="Descripción del SVG">
        <br>
        <p style="font-size: 12px; text-align: center;">"¿Quién se ha llevado mi queso?"</p>
        <a class="button3" href="https://drive.google.com/file/d/1pfARQtjRuL_AMYs2H-ew5GKSC-V7yiQx/view?usp=sharing">Ver</a>
     </div>
     <div class="card">
        <img src="/img/7.jpg" class="svg" alt="Descripción del SVG">
        <br>
        <p  style="font-size: 12px; text-align: center;">"Los 7 Hábitos de la gente altamente efectiva"</p>

        <a class="button3" href="https://drive.google.com/file/d/1fqeJhRDVqXkI9KNB94UuhfltUdOJk5G_/view?usp=drive_link">Ver</a>
     </div>
     <div class="card">
      <img src="/img/n.jpg" class="svg" alt="Descripción del SVG">
      <br>
      <p  style="font-size: 12px; text-align: center;">"Liderazgo con proposito"</p>
  
      <a class="button3" href="https://drive.google.com/file/d/17FVOznNCVwQtEJAT2lf14wt9xXcngcoz/view?usp=drive_link">Ver</a>
   </div>
  
   </div>
</div>
</div>
</body>

</html>