<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/crece.css">
    <link rel="stylesheet" href="styles/display.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body style=" justify-content: center; align-items:center; background: var(--grisClaro);">
    <div class="nav-herader2">
        <div class="content-img">
            <img class="svg1" src="/img/logoP.png" alt="Descripción del SVG">
        </div>

        <div class="close"><a class="text-header" style="color: var(--blanco);" href="/">Regresar</a>
        </div>
    </div>


    <h3> <b style="color: var(--vinotinto); font-size: 40px;" class=" text-decoration2">Crece</b></h3>
    <div class="content">
    <div class="card-container">
    <div class="card">
        <img src="/img/01.jpg" class="svg" alt="Descripción del SVG">
        <p style="font-size: 12px; text-align: center;">"¿Para que estoy aquí en la Tierra?"</p>
        <a class="button3" href="https://drive.google.com/file/d/10TDzG2vjPn3Ns2zTVxPSXSszgj_kXjyI/view?usp=drive_link">Ver</a>
     </div>
     <div class="card">
        <img src="/img/creceP.jpg" class="svg" alt="Descripción del SVG">
        <p  style="font-size: 12px; text-align: center;">"Integrandonos a la Familia de Dios"</p>

        <a class="button3" href="https://drive.google.com/file/d/1TxDfOqXGpW0s4jeipsTZDQ2HkseHOi-U/view?usp=drive_link">Ver</a>
     </div>
     <div class="card">
      <img src="/img/HIJO.jpg" class="svg" alt="Descripción del SVG">
      <p  style="font-size: 12px; text-align: center;">"Viviendo como hijos de Dios"</p>
  
      <a class="button3" href="https://drive.google.com/file/d/1WGAIyh1qpm7XPm5gX_bR3u8hIpobrIGN/view?usp=drive_link">Ver</a>
   </div>
   <div class="card">
    <img src="/img/g.jpg" class="svg" alt="Descripción del SVG">
    <p  style="font-size: 12px; text-align: center;">"Descubriendo mi ministerio"</p>

    <a class="button3" href="https://drive.google.com/file/d/1WGAIyh1qpm7XPm5gX_bR3u8hIpobrIGN/view?usp=drive_link">Ver</a>
 </div>
   </div>
</div>
</div>
</body>

</html>