<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/crece.css">
    <link rel="stylesheet" href="styles/display.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body style=" justify-content: center; align-items:center; background: var(--grisClaro);">
    <div class="nav-herader">
        <div class="content-img">
            <img class="svg1" src="/img/logoP.png" alt="Descripci贸n del SVG">
        </div>

        <div class="close"><a class="text-header" style="color: var(--blanco);" href="/">Regresar</a>
        </div>
    </div>


    <h3> <b style="color: var(--vinotinto); font-size: 40px; position: relative;" class=" text-decoration2">Fundamentos</b></h3>
    <div class="content">
    <div class="card-container2">
    <div class="card">
        <img src="/img/fun.jpg" class="svg" alt="Descripci贸n del SVG">
        <p style="font-size: 12px; text-align: center;">"Fundamentos l"</p>
        <a class="button3" href="https://drive.google.com/file/d/1K5RfP4bN5ek5YBq2Hc4JP_Kuk7et__iT/view?usp=drive_link">Ver</a>
     </div>
     <div class="card">
        <img src="/img/fun.jpg" class="svg" alt="Descripci贸n del SVG">
        <p  style="font-size: 12px; text-align: center;">"Fundamentos ll"</p>

        <a class="button3" href="https://drive.google.com/file/d/1LtIQryqyM72CP1dlchPG3Ciex9afjLWr/view?usp=drive_link">Ver</a>
     </div>
     <div class="card">
      <img src="/img/fun.jpg" class="svg" alt="Descripci贸n del SVG">
      <p  style="font-size: 12px; text-align: center;">"Fundamentos lll"</p>
  
      <a class="button3" href="https://drive.google.com/file/d/1ZgucI08-8Bidx5Jfd-XOCEprUXUu3WxJ/view?usp=drive_link">Ver</a>
   </div>
  
   </div>
</div>
</div>
</body>

</html>