<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/display.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>


    <div class="nav-content">


        
                <img class="svg1" src="/img/logoP.png" alt="Descripción del SVG">
     

     
        <div class="content-text-center">

            <div class="content-text">
                <h3>RUTA DE <br> <b class="text-decoration">CRECIMIENTO </b></h3>
                <p class="pt">La formación cristiana basada en la Biblia es fundamental para el crecimiento espiritual de todo creyente. Estudiar la palabra de Dios nos permite conocer su voluntad, entender su plan de salvación y fortalecer nuestra fé.</p>
            </div>
            <div class="content-img2">
                <img src="/img/escala.png" class="svg2" alt="Descripción del SVG">
                <a class="button" href="#manuales">Comenzar</a>
            </div>
        </div>



    </div>

    
    <div class="contenedor">
        <div class="content-manual">
            <div class="text-c">
                <h1><b class="text-decoration2">CRECE</b></h1>
            <p class="text-c" >"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Odio, quidem. Aliquid, nostrum ea eaque
                doloremque tempore quia natus soluta repellendus iusto assumenda placeat totam? Expedita fugit
                dolorum quaerat. Ipsa, nisi!"</p>
            </div>
                <div>              
                      <a class="button2" href="/creceRoutes">Ver Manual</a>
                </div>
        </div>
        <div class="content-manual-logo" style="background: #217697;">
            <img class="svg3" src="/img/dine.png"></img>

        </div>
    </div>
    <div class="contenedor" >
        <div class="content-manual" style="background: var(--grisClaro);">
            <div class="text-c">
                <h1><b class="text-decoration3">FUNDAMENTOS</b></h1>
            <p class="text-c" >"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Odio, quidem. Aliquid, nostrum ea eaque
                doloremque tempore quia natus soluta repellendus iusto assumenda placeat totam? Expedita fugit
                dolorum quaerat. Ipsa, nisi!"</p>
            </div>
                <div>              
                      <a class="button2" href="/fundamentos">Ver Manual</a>
                </div>
        </div>
        <div class="content-manual-logo" >
            <img class="svg4"  src="/img/bloque.png"></img>

        </div>
    </div>
    <div class="contenedor">
        <div class="content-manual" >
            <div class="text-c">
                <h1><b class="text-decoration2">AFILADOS</b></h1>
            <p class="text-c" >"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Odio, quidem. Aliquid, nostrum ea eaque
                doloremque tempore quia natus soluta repellendus iusto assumenda placeat totam? Expedita fugit
                dolorum quaerat. Ipsa, nisi!"</p>
            </div>
                <div style="display: flex ; align-content: center; align-items: center;">              
                      <a class="button2" href="/afilados">Ver Manual</a>
                </div>
        </div>
        <div class="content-manual-logo" style="background: #deb887;">
            <img class="svg4" src="/img/afi.png"></img>

        </div>
    </div>


   

    <footer id="manuales" class="footer">
    <p style="color: var(--blanco)">Magleary Pereira-2025 @copyright</p>
    </footer>



</body>

</html>