<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Google fonts-->
    <title>Document</title>
</head>

<body>


    <div class="nav-content">


        <div class="nav-herader">
            <div class="content-img">
                <img class="svg1" src="../public/img/logoP.png" alt="Descripción del SVG">
            </div>

            <div class="close"><a class="text-header" href=""></a>
            </div>
        </div>
        <div class="content-text-center">

            <div class="content-text">
                <h3>RUTA DE <br> <b class="text-decoration">CRECIMIENTO </b></h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, quidem. Aliquid, nostrum ea eaque
                    doloremque tempore quia natus soluta repellendus iusto assumenda placeat totam? Expedita fugit
                    dolorum quaerat. Ipsa, nisi!</p>
            </div>
            <div class="content-img2">
                <img src="../public/img/escala.png" class="svg2" alt="Descripción del SVG">
                <a class="button" href="#manuales">Comenzar</a>
            </div>
        </div>



    </div>

    
    <div class="contenedor">
        <div class="content-manual">
            <div class="text-c">
                <h1><b class="text-decoration2">CRECE</b></h1>
            <p class="text-c" style="font-size: 20px; color: var(--gris);">"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Odio, quidem. Aliquid, nostrum ea eaque
                doloremque tempore quia natus soluta repellendus iusto assumenda placeat totam? Expedita fugit
                dolorum quaerat. Ipsa, nisi!"</p>
            </div>
                <div>              
                      <a class="button2" href="/creceRoutes">Ver Manual</a>
                </div>
        </div>
        <div class="content-manual-logo" style="background: #217697;">
            <img class="svg3" src="../public/img/dine.png"></img>

        </div>
    </div>
    <div class="contenedor" >
        <div class="content-manual" style="background: var(--grisClaro);">
            <div class="text-c">
                <h1><b class="text-decoration2">FUNDAMENTOS</b></h1>
            <p class="text-c" style="font-size: 20px; color: var(--gris);">"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Odio, quidem. Aliquid, nostrum ea eaque
                doloremque tempore quia natus soluta repellendus iusto assumenda placeat totam? Expedita fugit
                dolorum quaerat. Ipsa, nisi!"</p>
            </div>
                <div>              
                      <a class="button2" href="/creceRoutes">Ver Manual</a>
                </div>
        </div>
        <div class="content-manual-logo" >
            <img class="svg3" style="width: 400px; height: 400px;" src="../public/img/bloque.png"></img>

        </div>
    </div>
    <div class="contenedor">
        <div class="content-manual" >
            <div class="text-c">
                <h1><b class="text-decoration2">AFILADOS</b></h1>
            <p class="text-c" style="font-size: 20px; color: var(--gris);">"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Odio, quidem. Aliquid, nostrum ea eaque
                doloremque tempore quia natus soluta repellendus iusto assumenda placeat totam? Expedita fugit
                dolorum quaerat. Ipsa, nisi!"</p>
            </div>
                <div>              
                      <a class="button2" href="/creceRoutes">Ver Manual</a>
                </div>
        </div>
        <div class="content-manual-logo" style="background: #deb887;">
            <img class="svg3" style="width: 400px; height: 400px;" src="../public/img/afi.png"></img>

        </div>
    </div>


   

    <footer id="manuales" class="footer">
    <p style="color: var(--blanco)">Magleary Pereira-2025 @copyright</p>
    </footer>



</body>

</html>